/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ferly";
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( to top right, rgba(235, 55, 32, 0.5),rgb(212, 175, 55,0.5)), url(./pictures//pngtree-wide-floral-wreath-backdrop-for-elegant-wedding-interior-decoration-luxurious-ceremony-image_16409384.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.back-arrow a {
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.back-arrow i:hover {
    color: #f0f0f0;
    background-color: transparent;
}
h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
    font-size: 14px;
}

.login-box .input-group input
 {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 16px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.login-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.login-footer a {
    color: whitesmoke;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.login-footer p {
    margin-top: 10px;
    color: var(--primary-color);
} 
.input-group span{
    color: red;
}